* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.container1 {
  width: 100%;
  /* height: 150vh; */
  font-family: sans-serif;
  background-color: rgb(255, 254, 254);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

#logo {
  width: 12%;
  /* margin-left: 160px; */
  margin-bottom: 40px;
  margin-top: -24px;
}

.card {
  width: 490px;
  height: 700px;
  height: auto;
}

.inner-box {
  position: relative;
  width: 100%;
  height: 100%;
  transform: rotateY(-180deg);
  transform-style: preserve-3d;
  transition: transform -0.1s;
}

.card-back {
  /* position: absolute; */
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  padding: 55px;
  box-sizing: border-box;
  /* backface-visibility: hidden; */
  /* border: 1px solid rgb(197, 179, 179); */
  margin: 60px 0;
}

.card-back {
  transform: rotateY(180deg);
}

h1 {
  text-transform: uppercase;
}

.card h1 {
  font-weight: normal;
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
  color: black;
  font-weight: 600;
  letter-spacing: -1.6px;
}

.input-box {
  width: 100%;
  background: white;
  border: 1px solid rgb(197, 179, 179);
  margin: 6px 0;
  height: 42px;
  border-radius: 4px;
  padding: 0 10px;
  box-sizing: border-box;
  outline: none;
  /* text-align: left; */
  color: rgb(107, 90, 90);
}

::placeholder {
  color: rgb(131, 126, 126);
  font-size: 15px;
}

.submit-btn {
  width: 100%;
  background: black;
  color: #fff;
  border: 1px solid black;
  margin: 35px 0 10px;
  height: 45px;
  font-size: 15px;
  border-radius: 4px;
  padding: 0 10px;
  box-sizing: border-box;
  outline: none;
  cursor: pointer;
}

.span-text {
  font-size: 13px;
  margin-left: 12px;
  color: rgb(100, 92, 92);
}

.myform {
  margin-bottom: 30px;
}

.text {
  text-align: center;
  margin-top: 30px;
  font-size: 13px;
  color: rgb(100, 92, 92);
}

u {
  cursor: pointer;
}

.submit-btn {
  position: relative;
  margin-top: 30px;
  /* padding: 20px; */
}

.text1 {
  text-align: center;
  /* margin-top: 10px; */
  font-size: 13px;
  color: rgb(100, 92, 92);
}

.text1 a {
  color: black;
  font-weight: 100;
}

.card-back {
  background-color: white;
}

.card .card-back {
  width: 490px;
  height: 835px;
  /* box-shadow: 0 0 40px 20px rgba(0, 0, 0, 0.26); */
}

.birthday-text {
  color: rgb(100, 92, 92);
  font-size: 11px;
}

#small-button2 {
  width: 17.1%;
  height: 2%;
  font-size: 13px;
  background-color: white;
  color: black;
  border: 0.1px solid white;
}

/* ----------------------------------------------------------- */

.arrenge {
  width: 100%;
  height: 42px;
  margin-top: 17px;
  background-color: white;
  color: rgb(107, 90, 90);
  border-radius: 4px;
  border: 1px solid;
  border: 1px solid rgb(197, 179, 179);
  padding: 9px;
}


/* --------------------------------------------------------------- */

/* heder footer css file combined */


#top-header {
  padding: 2px 0;
  background-color: #f5f5f5;
}

#above-nav {
  height: auto;
  display: flex;
  justify-content: end;
  /* margin: 15px; */
  margin-right: 35px;
  font-size: 12px;
  padding: 2px;
}

#above-nav p {
  margin-top: 4px;
  margin-left: 13px;
  cursor: pointer;
}

#above-nav img {
  width: 25px;
  margin-right: 81%;
  cursor: pointer;
}

#container {
  width: 100%;
  /* height: 100vh; */
  text-align: center;
}

nav {
  width: 100%;
  height: auto;
  /* align-items: left; */
  /* height: 4.5rem; */
  /* justify-content: space-between; */
  display: flex;
  margin-top: 2px;
  /* position: fixed; */
  /* height: 3.5rem; */
  background-color: white;
}

#nav-text {
  display: flex;
  /* flex-wrap: nowrap; */
  margin: auto;
  justify-content: space-between;
  margin-left: 18%;
}

#nav-text p {
  margin: 15px;
  cursor: pointer;
  position: relative;
}

#nav-text p::after {
  content: "";
  width: 0;
  height: 3px;
  position: absolute;
  bottom: -24px;
  left: 50%;
  transform: translateX(-50%);
  background: #706f6f;
}

#nav-text p:hover::after {
  width: 110%;
  /* border-radius:10px; */
}

nav ul {
  flex: 1;
  text-align: right;
  padding-right: 30px;
}

nav ul li {
  display: inline-block;
  /* margin: 8px 20px; */
}
.logo {
  width: 8.5%;
  cursor: pointer;
  padding: 15px;
  margin: 0 25px 0;
}

.search-icon {
  font-size: 35px;
  cursor: pointer;
  margin: 10px 0;
  padding: 5px;
}

.bag-icon {
  font-size: 35px;
  cursor: pointer;
  margin: 10px 0;
  padding: 5px;
}

.heart {
  /* height: 30px; */
  font-size: 35px;
  cursor: pointer;
  margin: 10px 0;
  padding: 5px;
}

.search-icon:hover {
  background-color: #dad6d6;
  border-radius: 50%;
}

.heart:hover {
  background-color: #dad6d6;
  border-radius: 50%;
}

.bag-icon:hover {
  background-color: #dad6d6;
  border-radius: 50%;
}

.slide {
  padding: 10px;
}

#f1 {
  font-weight: 500;
  font-size: unset;
  line-height: 1;
}
#f2 {
  font-size: 13px;
}
#f2 u {
  font-size: 14px;
  cursor: pointer;
}

/* header section end */

/* --------------------------------------------------------------------------------------- */

/* footer section start */

#footer {
  height: 320px;
  background-color: black;
  /* margin: 0 20px; */
  color: white;
  padding-right: 62px;
  padding-left: 63px;
  padding-top: 40px;
}

.fotter-div div {
  /* box-sizing: border-box; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 10px;
  /* text-transform: uppercase; */
  /* margin: 20px;
       padding: 20px; */

  font-size: 10px;
  line-height: 2;
  font-weight: 600;
}

ul li {
  list-style-type: none;
}

#footer div {
  display: flex;
  justify-content: flex-start;
  column-gap: 50px;
  /* flex-wrap: wrap; */
  /* flex-direction: row; */
  /* justify-content: space-between; */
  /* align-items: center; */
}

#content-last p {
  font-size: 11px;
  margin-right: 20px;
}

#fotter-icon div {
  font-size: 250%;
  justify-content: space-around;
}

.fotter-text {
  font-size: 12px;
  line-height: 2;
  font-weight: 600;
  cursor: pointer;
}

.fotter-text-1 p:nth-child(1) {
  font-size: 12px;
  line-height: 2;
  color: white;
  font-weight: 600;
}

.fotter-text-1 {
  margin-left: 20px;
  color: #9e9d9d;
}

.fotter-text-1 p {
  padding-left: 1px;
  font-size: 11px;
  font-weight: 100;
}
.fotter-text-1 p:hover {
  color: white;
  cursor: pointer;
}

#fotter-icon {
  display: flex;
  flex-direction: row;
  margin-left: 350px;
  color: black;
}
#fotter-icon div {
  /* justify-content: space-around; */
  padding: 5px;
  border-radius: 20px;
  background-color: #6b6e70;
}
#fotter-icon div:hover {
  background-color: white;
}


#copyright-section div:nth-child(1) {
  font-size: 10px;
  padding: 14px;
  color: #9e9d9d;
  margin-right: 5%;
}

#copyright-section div:nth-child(2) {
  padding: 14px;
  color: #9e9d9d;
  cursor: pointer;
}

#location-icon {
  font-size: 150%;
  /* background-color: black */
}

#india {
  font-weight: bold;
  color: white;
  cursor: pointer;
}

#content-last {
  margin-left: 18%;
}

#content-last p:hover {
  color: white;
}

/* ------------------------------------------------------------------------------------------------- */

