* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

#top-header {
  padding: 2px 0;
  background-color: #f5f5f5;
}

#above-nav {
  height: auto;
  display: flex;
  justify-content: end;
  /* margin: 15px; */
  margin-right: 35px;
  font-size: 12px;
  padding: 2px;
}

#above-nav p {
  margin-top: 4px;
  margin-left: 13px;
  cursor: pointer;
}

#above-nav img {
  width: 25px;
  margin-right: 81%;
  cursor: pointer;
}

#container {
  width: 100%;
  /* height: 100vh; */
  text-align: center;
}

nav {
  width: 100%;
  height: auto;
  /* align-items: left; */
  /* height: 4.5rem; */
  /* justify-content: space-between; */
  display: flex;
  margin-top: 2px;
  /* position: fixed; */
  /* height: 3.5rem; */
  background-color: white;
}

#nav-text {
  display: flex;
  /* flex-wrap: nowrap; */
  margin: auto;
  justify-content: space-between;
  margin-left: 18%;
}

#nav-text p {
  margin: 15px;
  cursor: pointer;
  position: relative;
}

#nav-text p::after {
  content: "";
  width: 0;
  height: 3px;
  position: absolute;
  bottom: -24px;
  left: 50%;
  transform: translateX(-50%);
  background: #706f6f;
}

#nav-text p:hover::after {
  width: 110%;
  /* border-radius:10px; */
}

nav ul {
  flex: 1;
  text-align: right;
  padding-right: 30px;
}

nav ul li {
  display: inline-block;
  /* margin: 8px 20px; */
}
.logo {
  width: 8.5%;
  cursor: pointer;
  padding: 15px;
  margin: 0 25px 0;
}

.search-icon {
  font-size: 35px;
  cursor: pointer;
  margin: 10px 0;
  padding: 5px;
}

.bag-icon {
  font-size: 35px;
  cursor: pointer;
  margin: 10px 0;
  padding: 5px;
}

.heart {
  /* height: 30px; */
  font-size: 35px;
  cursor: pointer;
  margin: 10px 0;
  padding: 5px;
}

.search-icon:hover {
  background-color: #dad6d6;
  border-radius: 50%;
}

.heart:hover {
  background-color: #dad6d6;
  border-radius: 50%;
}

.bag-icon:hover {
  background-color: #dad6d6;
  border-radius: 50%;
}

.slide {
  padding: 10px;
}

#f1 {
  font-weight: 500;
  font-size: unset;
  line-height: 1;
}
#f2 {
  font-size: 13px;
}
#f2 u {
  font-size: 14px;
  cursor: pointer;
}

/* header section end */

/* womens section */

#women-section {
  padding: 18px 0 34px 10px;
}

.women-text {
  width: 8.5%;
  cursor: pointer;
  padding: 15px;
  margin: 0 25px 0;
  font-size: 24px;
  font-weight: 100;
}

#women-menu {
  display: flex;
  /* flex-wrap: nowrap; */
  margin: auto;
  justify-content: space-between;
  margin-left: 17%;
}

#women-menu p {
  margin:4px 20px 0;
  cursor: pointer;
  position: relative;
}

#women-menu p:hover {
  color: #6d7175;
}

#image1 img {
  width: 90%;
  margin-left: 38px;
  margin-right: 38px;
  margin-bottom: 10px;
}

#content {
  margin-top: 30px;
}

.heading-2 {
  font-family: Helvetica;
  font-size: 72px;
  font-weight: bolder;
  /* list-style: 0.833333;
      */
  line-height: 1.4;
  /* text-transform: uppercase; */
  letter-spacing: -5px;
  cursor: pointer;
  margin-bottom: 5px;
}

.heading-0 {
  font-weight: 100;
  margin-top: 13px;
}

#btnn {
  margin-top: 15px;
}

.btn {
  padding: 8px 28px;
  border-radius: 21px;
  font-size: 18px;
  background: #111;
  color: #fff;
  margin-top: 10px;
  font-weight: 500;
  cursor: pointer;
  border: 0.01px solid black;
}
.btn:hover {
  background-color: rgb(126, 123, 123);
}

/* footwear Section */

.content-header {
  text-align: left;
  font-size: 22px;
  margin-top: 80px;
  margin-left: 70px;
}

.list-footwear {
  display: flex;
  flex-direction: row;
  overflow: scroll;
  scrollbar-color: #757575 transparent;
  padding-bottom: 20px;
  transition: 0.3s;
  margin: 10px 50px;
  cursor: pointer;
}
.list-footwear img {
  width: 393px;
  height: 440px;
  margin: 10px;
}
.list-footwear div {
  text-align: left;
  margin-top: 20px;
}

.list-footwear span {
  margin-left: 154px;
  margin-top: 10px;
}

.list-footwear p {
  margin-top: 0.5px;
  margin-left: 12px;
  color: #6b6e70;
  line-height: 1.45;
}

.list-footwear .highlight {
  color: #111;
}

/* two image section starts */

#content {
  width: 100%;
  object-fit: cover;
  margin-top: 30px;
}

#img1 {
  margin-right: 20px;
  width: 45%;
}
#img2 {
  margin-left: 5px;
  /* margin-right: 20px; */
  /* object-fit: cover; */
  width: 42.4%;
}

/* two image section End */

#image2 img {
  width: 90%;
  margin-top: 30px;
  /* margin-left: 38px;
   margin-right: 38px; */
  /* margin-bottom: 10px; */
}

#btnn2 {
  margin-top: -18px;
}

#heading-0-line {
  line-height: 1.3;
}

/* the essential section */

.list-image {
  display: flex;
  flex-direction: row;
  overflow: scroll;
  scrollbar-color: #757575 transparent;
  padding-bottom: 30px;
  transition: 0.3s;
  margin: 10px 55px;
}
.list-image img {
  width: 393px;
  margin: 10px;
}
.list-image div {
  text-align: left;
  margin-top: 20px;
}

/* above footer section */

#above-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 200px;
  margin-right: 200px;
  font-size: 17px;
  margin-bottom: 40px;
  margin-top: 110px;
}
#above-footer p {
  /* text-align:left; */
  margin-left: 25px;
  margin-bottom: 40px;
}
#above-footer li {
  text-align: left;
  /* text-decoration: none; */
  font-size: 15px;
  margin: 22px;
  color: #494b4d;
  cursor: pointer;
}

/* footer section start */

#footer {
  height: 320px;
  background-color: black;
  /* margin: 0 20px; */
  color: white;
  padding-right: 62px;
  padding-left: 63px;
  padding-top: 40px;
}

.fotter-div div {
  /* box-sizing: border-box; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 10px;
  /* text-transform: uppercase; */
  /* margin: 20px;
   padding: 20px; */

  font-size: 10px;
  line-height: 2;
  font-weight: 600;
}

ul li {
  list-style-type: none;
}

#footer div {
  display: flex;
  justify-content: flex-start;
  column-gap: 50px;
  /* flex-wrap: wrap; */
  /* flex-direction: row; */
  /* justify-content: space-between; */
  /* align-items: center; */
}

#content-last p {
  font-size: 11px;
  margin-right: 20px;
}

#fotter-icon div {
  font-size: 250%;
  justify-content: space-around;
}

.fotter-text {
  font-size: 12px;
  line-height: 2;
  font-weight: 600;
  cursor: pointer;
}

.fotter-text-1 p:nth-child(1) {
  font-size: 12px;
  line-height: 2;
  color: white;
  font-weight: 600;
}

.fotter-text-1 {
  margin-left: 20px;
  color: #9e9d9d;
}

.fotter-text-1 p {
  padding-left: 1px;
  font-size: 11px;
  font-weight: 100;
}
.fotter-text-1 p:hover {
  color: white;
  cursor: pointer;
}

#fotter-icon {
  display: flex;
  flex-direction: row;
  margin-left: 350px;
  color: black;
}
#fotter-icon div {
  /* justify-content: space-around; */
  padding: 5px;
  border-radius: 20px;
  background-color: #6b6e70;
}
#fotter-icon div:hover {
  background-color: white;
}

hr {
  margin: 25px 0 0 0;
  color: #1e1f20;
  /* height: 0.1px; */
}

#copyright-section div:nth-child(1) {
  font-size: 10px;
  padding: 14px;
  color: #9e9d9d;
  margin-right: 5%;
}

#copyright-section div:nth-child(2) {
  padding: 14px;
  color: #9e9d9d;
  cursor: pointer;
}

#location-icon {
  font-size: 150%;
  /* background-color: black */
}

#india {
  font-weight: bold;
  color: white;
  cursor: pointer;
}

#content-last {
  margin-left: 18%;
}

#content-last p:hover {
  color: white;
}
